img {
    display: inline;
    width: 50%;
}

div {
    text-align: center;
}

form {
    text-align: center;
}

.card {
    width: 50%;
    margin: auto;
    text-align: left;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
}

input {
    margin: 5 !important;
}

.likert li {
    float: left;
    list-style-type: none;
  }

p {
    margin-bottom: 0rem !important;
}